.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerMessage {
  display: flex;
  max-width: 50%;
  justify-content: space-between;
  padding: 3px;
  margin: 10px 0px;
}
.userDetails {
  display: flex;
  gap: 16px;
}
